@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Unbounded', cursive;
}

.ReactModal__Overlay {
  background-color: rgba(30, 28, 28, 0.9) !important;
  transition: 200ms ease-in-out !important;
}

.ReactModal__Overlay:hover {
  background-color: rgba(30, 28, 28, 0.9) !important;
  transition: 200ms ease-in-out !important;
}

.ReactModal__Content {
  margin-top: 30px;
  border: white solid 2px !important;
  border-radius: 0.5rem !important;
  background-color: rgba(0, 0, 0, 0.322) !important;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-arrow:hover {
  background-color: rgba(105, 95, 95, 0.322);
}

.slick-arrow::before {
  font-size: 1.5rem;
}

.slick-dots > li > button::before {
  color: white !important;
  font-size: 0.8rem;
}
