* {
  margin: 0;
  padding: 0;
}
/* Color palate */
:root {
  --background: #FFFFFF;
  --background-secondary: #E2DAEB;
  --headline: #1F1235;
  --paragraph: #1B1425;
  --text-primary: #1F1235;
  --text-secondary: #2a2a2a;
  --button: #FF6E6C;
  --button-text: #1F1235;
  --accent: #FF6E6C;
  --toggle-text: "Dark Mode";
}

[data-theme="dark"] {
  --background: #301E4E;
  --background-secondary: #463366;
  --headline: #FFFFFE;
  --paragraph: #B8C1EC;
  --text-primary: #FFFFFE;
  --text-secondary: #B8C1EC;
  --button: #EEBBC3;
  --button-text: #301E4E;
  --accent: #EEBBC3;
  --toggle-text: "Light Mode";


  --background: #0f0e17;
  --background-secondary: #1f1e27;
  --text-primary: #fffffe;
  --text-secondary: #a7a9be;
  --accent: #ff8906;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

p {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: aqua;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
