@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color palate */
:root {
  --background: #ffffff;
  --background-secondary: #e2daeb;
  --headline: #1f1235;
  --paragraph: #1b1425;
  --text-primary: #111013;
  --text-secondary: #2a2a2a;
  --button: #ff6e6c;
  --button-text: #1f1235;
  --accent: #ff6e6c;
  --toggle-text: 'Dark Mode';
}

[data-theme='dark'] {
  --background: #301e4e;
  --background-secondary: #463366;
  --headline: #fffffe;
  --paragraph: #b8c1ec;
  --text-primary: #fffffe;
  --text-secondary: #b8c1ec;
  --button: #eebbc3;
  --button-text: #1b1425;
  --accent: #eebbc3;
  --toggle-text: 'Light Mode';
}

/* Color classes */
.bg-primary {
  transition: all 0.5s;
  background-color: var(--background);
}

.bg-secondary {
  background-color: var(--background-secondary);
}

.text-primary {
  color: var(--text-primary);
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--background);
  transition: all 0.5s;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

p {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
