* {
  margin: 0;
  padding: 0;
}
/* Color palate */
:root {
  --background: #FFFFFF;
  --background-secondary: #E2DAEB;
  --headline: #1F1235;
  --paragraph: #1B1425;
  --text-primary: #1F1235;
  --text-secondary: #2a2a2a;
  --button: #FF6E6C;
  --button-text: #1F1235;
  --accent: #FF6E6C;
  --toggle-text: "Dark Mode";
}

[data-theme="dark"] {
  --background: #301E4E;
  --background-secondary: #463366;
  --headline: #FFFFFE;
  --paragraph: #B8C1EC;
  --text-primary: #FFFFFE;
  --text-secondary: #B8C1EC;
  --button: #EEBBC3;
  --button-text: #301E4E;
  --accent: #EEBBC3;
  --toggle-text: "Light Mode";
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

p {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
